<!--Robust Admin - Ver: 1.0 by EmVH - Startdate: 10/06/2018 -->
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<title>FPTU Event Club</title>
</head>

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  menu-expanded" data-open="hover"
    data-menu="horizontal-menu" data-col="2-columns">
    <!-- Header -->
    <div th:replace="fragments/header :: header">Header</div>
    <!-- ///////////////////CONTENT///////////////////////////////////////////////-->
    <div th:replace="management/event/body :: content">Header</div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!--Footer  -->
    <div th:replace="fragments/footer :: footer">Footer</div>
    <!--Script file  -->
    <div th:replace="fragments/script :: script">Script</div>
</body>
<script>
    var deletedIds = [];
    var dataEvent = [];
    var hotEvent = null;
    $(function () {
        var containerUnit = document.getElementById('event');
        hotEvent = new Handsontable(containerUnit, {
            data: dataEvent,
            colHeaders: ['ID', 'Name', 'Start', 'End', 'Time', 'Place', 'Leader', 'Note'],
            colWidths: [100, 300, 300, 300, 300, 300, 300, 300],
            rowHeaders: true,
            minSpareRows: 1,
            stretchH: 'all',
            //                             minRows : 100,
            minCols: 8,
            minRows: 10,
            //                 minCols: 5,
            //                 currentRowClassName: 'currentRow',
            //                 currentColClassName: 'currentCol',
            manualColumnResize: true,
            manualRowResize: true,
            contextMenu: ['row_below', 'remove_row'],
            columns: [{
                data: 'id',
                readOnly: true,

            }, {
                data: 'name',

            }, {
                data: 'start',

            }, {
                data: 'end',

            }, {
                data: 'time',

            }, {
                data: 'place',

            }, {
                data: 'leader',

            }, {
                data: 'note',

            }],
            beforeRemoveRow: function (index, amount) {
                // Support to submit deleted id into server
                var lastIndex = index + amount;
                console.log("index + amount", index + amount)
                var i;
                for (i = index; i < lastIndex; i++) {
                    var deleteRole = dataEvent[i];
                    var deletedId = deleteRole.id;
                    console.log("deleteRole" + deleteRole + "deleteId = "
                        + deletedId);
                    if (deletedId) {
                        deletedIds.push(deletedId);
                    }
                }
                console.log("list deletedIds=" + deletedIds);
            },
            beforeChange: function (changes, source) {

                // changes = [[row, prop, oldVal, newVal], ...]
                for (var i = 0; i < changes.length; i++) {
                    var row = changes[i][0];
                    var col = hotEvent.propToCol(changes[i][1]);
                    var newVal = changes[i][3];
                    console.log("row: " + row + "; col: " + col + "; newVal: "
                        + newVal);
                }
            },

        });
        loadEvent();
    });

    function loadEvent() {
        deletedIds = [];
        // load demo data.
        $.ajax({
            url: _ctx + 'management/event/loadHand',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json',
            success: function (res) {
                console.log("res=" + res);
                dataEvent = res;
                hotEvent.loadData(dataEvent);
            },
            error: function (e) {
                console.log("Error: " + e);
            }
        });
    }
</script>
<script>
    $('#frmHot').submit(function (e) {
        e.preventDefault();
        $('#errorHandsontable').hide();
        $('#errorEmpty').hide();
        // Get header name
        var colHeaderData = hotEvent.getColHeader();
        // Get data from Handsontable
        var tableData = hotEvent.getData();

        var frmData = new FormData(this);
        var frmData = {};

        frmData["header"] = colHeaderData;
        frmData["data"] = tableData;
        frmData["deletedIds"] = deletedIds;
        $('#errorHandsontable').hide();
        $('#errorEmpty').hide();
        $.ajax({
            url: _ctx + "management/event/saveEvent",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(frmData),
            dataType: 'json',
            success: function (result) {
                $('#result').fadeToggle('slow');
                $('#result').fadeOut(5000);
                // reload data
                loadEvent();
            },
            error: function () {
                console.log("Error!");
                alert("ERROR: Can't save event !");
            }
        });
    });
</script>

</html>