<!--Robust Admin - Ver: 1.0 by EmVH - Startdate: 10/06/2018 -->
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<title>FPTU Event Club</title>
</head>

<body class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns  menu-expanded" data-open="hover"
 data-menu="horizontal-menu" data-col="2-columns">
	<!-- Header -->
	<div th:replace="vote/header :: header">Header</div>
	<!-- ///////////////////CONTENT///////////////////////////////////////////////-->
	<div th:replace="vote/body :: content">Content</div>
	<!-- ////////////////////////////////////////////////////////////////////////////-->
	<!--Footer  -->
	<div th:replace="fragments/footer :: footer">Footer</div>
	<!--Script file  -->
	<div th:replace="fragments/script :: script">Script</div>
</body>
<script>
	//Store list candidate
	var frmCandidate = new FormData();
	var frmCandidate = {};
	var key = '';
	$(document).ready(function () {
		//Load candidate to select option
		loadCandidate('Planning', 'Chief');
		loadCandidate('Implement', 'Chief');
		loadCandidate('Media', 'Chief');
	});
	// This is a functions that scrolls to #{blah}link
	function goToByScroll(id) {
		// Remove "link" from the ID
		id = id.replace("link", "");
		// Scroll
		$('html,body').animate({
			scrollTop: $("#" + id).offset().top
		}, 'slow');
	}
	
	//Onchange select event
	$('#formVote .form-group select').on('change', function (e) {
		var optionSelected = $("option:selected", this);
	    var idSelected = this.value;
	    var group = this.id.replace('select', '');
	    var member = getMember(idSelected, frmCandidate[group]);
		if(member != null){
			$('#img' + group).attr('src', member.img);
		}
	   console.log("Change: " + idSelected);
	});
	function getMember(id, formData) {
		for(var i = 0; i < formData.length; i++) {
			if(formData[i].id == id) return formData[i];
		}
		return null;
	};

	$('#formKey').submit(
		function (e) {
			if (this.helpInputTop.value == '') {
				$('#errorEmpty').fadeToggle('slow');
				$('#errorEmpty').fadeOut(5000);
				return false;
			}
			e.preventDefault();
			$('#errorKey').hide();
			$('#errorEmpty').hide();
			var search = {};
			console.log("This: " + this.helpInputTop.value);
			console.log("Key: " + search['key']);
			$.ajax({
				url: _ctx + "management/vote/key/check",
				type: "POST",
				contentType: "application/json",
				data: this.helpInputTop.value,
				dataType: 'json',
				success: function (result) {

					$('#card_vote').fadeToggle('slow');
					$('#card_vote').fadeOut(5000);
					console.log(result);
					//Block textbox - input key
					$("#helpInputTop").attr("disabled", "disabled");
					//Update priority
					$("#txtPriority").text(result.priority);
					//Notify sucess
					$('#result').fadeToggle('slow');
					$('#result').fadeOut(5000);
					//Move to card-vote
					setTimeout(function () {
						goToByScroll('card-vote');
					}, 2000);

				},
				error: function (xhr, status, error) {
					console.log("Status code: " + xhr.status + " | Error: "
						+ error + " | xhr.reponseText: "
						+ xhr.reponseText);
					$('#errorKey').fadeToggle('slow');
					$('#errorKey').fadeOut(5000);
				}
			});
		});
	function loadCandidate(group, position) {
		console.log("Load candidate")
		var frmData = new FormData();
		var frmData = {};
		var img = '../../themes/fev/img/logo.png';
		frmData["group"] = group;
		frmData["position"] = position;
		$.ajax({
			url: _ctx + "management/vote/candidate",
			type: "POST",
			contentType: "application/json",
			data: JSON.stringify(frmData),
			dataType: 'json',
			success: function (result) {
				for (var i = 0; i < result.length; i++) {
					//Add option
					$('#select' + group).append(
						$("<option></option>").attr("value", result[i].id)
							.text(result[i].fullname));
					$('#img' + group).attr('src', img);
				}
				frmCandidate[group] = result;
			},
			error: function (xhr, status, error) {
				console.log("Status code: " + xhr.status + " | Error: " + error
					+ " | xhr.reponseText: " + xhr.reponseText);
			}
		});
	}
	$('#formVote').submit(function (e) {
		e.preventDefault();
		//Get id candidate, key and pass to controller
		//Notify
		var planning = $("#selectPlanning option:selected").val();
		var implement = $("#selectImplement option:selected").val();
		var media = $("#selectMedia option:selected").val();
		var candidateIDs = [];
		candidateIDs.push(planning);
		candidateIDs.push(implement);
		candidateIDs.push(media);
		var key = $("#helpInputTop").val();
		var priority = $("#txtPriority").text();
		var frmData = new FormData();
		frmData['key'] = key;
		frmData['priority'] = priority;
		frmData['candidateIDs'] = candidateIDs;
		$.ajax({
			url: _ctx + "management/vote/sendVote",
			type: "POST",
			contentType: "application/json",
			data: JSON.stringify(frmData),
			success: function (result) {
				console.log("Status: " + result)
				console.log("Vote Success");
			},
			error: function (xhr, status, error) {
				console.log("Status code: " + xhr.status + " | Error: " + error
					+ " | xhr.reponseText: " + xhr.reponseText);
			}
		});
		console.log("End Vote");
	});
</script>